[Desktop Entry]
Encoding=UTF-8
Name=MX Default Look
Name[ca]=MX Default Look
Name[de]=MX Standardansicht
Name[el]=MX Default Look
Name[es]=
Name[fr]=MX Apparence par défaut
Name[it]=
Name[ja]=
Name[nl]=MX Standaard Uiterlijk
Name[pt]=
Name[ru]=MX Вид по умолчанию
Name[sv]=MX Standard-utseende
Comment=Quick changes to default look
Comment[ca]=Canvis ràpids a l'aspecte per omissió
Comment[de]=Schnelles Ändern des Standardansichts
Comment[el]=Γρήγορες αλλαγές στην προεπιλεγμένη εμφάνιση
Comment[es]=
Comment[fr]=Changements rapides à l'apparence par défaut
Comment[it]=
Comment[ja]=
Comment[nl]=Snelle veranderingen aan standaard uiterlijk
Comment[pt]=
Comment[ru]=Быстрое приведение внешнего вида к исходному
Comment[sv]=Snabba förändringar av standard-utseendet
Exec=mx-defaultlook
Terminal=false
Type=Application
Icon=preferences-desktop-theme
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;
