[Desktop Entry]
Encoding=UTF-8
Name=MX Default Look
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[it]=
Name[ja]=
Name[nl]=
Name[ru]=
Name[sv]=
Comment=Quick changes to default look
Comment[ca]= 
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[ru]=
Comment[sv]=
Exec=mx-defaultlook
Terminal=false
Type=Application
Icon=preferences-desktop-theme
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
