[Desktop Entry]
Encoding=UTF-8
Name=MX Default Look
Name[ca]=MX Default Look
Name[cs]=MX převolený Vzhled
Name[de]=MX Standardansicht
Name[el]=MX Default Look
Name[es]=MX Vista por defecto
Name[fr]=MX Apparence par défaut
Name[it]=MX Look di Default
Name[ja]=MX 標準の外見
Name[lt]=MX Numatytoji išvaizda
Name[nl]=MX Standaard Uiterlijk
Name[pt]=MX_Pré-definição da Aparência do MX
Name[ru]=MX Вид по умолчанию
Name[sv]=MX Standard-utseende
Comment=Quick changes to default look
Comment[ca]=Canvis ràpids a l'aspecte per omissió
Comment[cs]=Rychlé změny v předvoleném vzhledu
Comment[de]=Schnelles Ändern des Standardansichts
Comment[el]=Γρήγορες αλλαγές στην προεπιλεγμένη εμφάνιση
Comment[es]=Cambios rápidos a la vista por defecto
Comment[fr]=Changements rapides à l'apparence par défaut
Comment[it]=Veloci modifiche al look predefinito
Comment[ja]=標準の外見を簡単に変更できます
Comment[lt]=Greiti numatytosios išvaizdos pakeitimai
Comment[nl]=Snelle veranderingen aan standaard uiterlijk
Comment[pt]=Alterações rápidas à aparência pré-definida
Comment[ru]=Быстрое приведение внешнего вида к исходному
Comment[sv]=Snabba förändringar av standard-utseendet
Exec=mx-defaultlook
Terminal=false
Type=Application
Icon=preferences-desktop-theme
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

